// variables
$darkgreen: rgb(20, 97, 67);

.App {
  background-color: rgb(211, 221, 205);
  height: 100vh;
  position: relative;
}

//------------------------------------------------DASHBOARD----------------------------------------------------
.dashboardContainer {
  margin-top: 5vh;
}

.titlesDashboard {
  // border: 1px solid $darkgreen;
  // border-radius: 2px;
  // font-size: 25px;
}

.rowTitlesDashboard{
  height: 10vh;
}

// ---------------------------------------------------FORMS----------------------------------------------------

.formCalendarButton {
  margin-right: 20px;
}

// ---------------------------------------------------CALENDAR--------------------------------------------------
.calendarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  box-sizing: border-box;
}

.calendarContainer {
  background-color: rgb(115, 117, 115);
  border-radius: 3px;
  width: 370px;
}

// next buttons
.calendarNextButtonsRow {
  display: table;
  width: 370px;
  .calendarNextButton{
    display: table-cell;
    padding: 3px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    &:hover {
      background-color: rgb(88, 86, 86);
      border: 1px solid;
      cursor: pointer;
    }
  }
}

.Calendar {
  display: table;
  width: 370px;
  .calendarRow {
    display: table-row;
    border: 1px solid;
    .calendarCell{
      display: table-cell;
      text-align: center;
      padding: 0 5px;
    }
  }
}

// the input fields in Calendar
input.calendarYearInput {
  width: 40px;
}

input.calendarMonthInput {
  width: 85px;
}

input.calendarDayInput {
  width: 25px;
}

.calendarInvisible {
  display: none;
}

